{% extends "blog/base.html" %}
{% block title %} {% if mode == "edit" %} Edit Post {% else %} New Post {% endif %} - Mini Blog {% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Title</label>
            <input type="text" name="title" value="{{ title|default:post.title|default:'' }}" class="border-rounded-md" required/> {# added border-rounded in base.html styles tag #}
        </div>

        <div>
            <label>Content</label>
            <textarea class="border-rounded-md" name="content" type="text" rows="5" required>
            {{ content|default:post.content|default:'' }}
        </textarea>
        </div>

        <div>
            <label>Author</label>
            <input class="border-rounded-md" type="text" name="author" value="{{ author|default:post.author|default:'anonymous' }}" required/>
        </div>

        <button class="btn btn-primary" type="submit">
            {% if mode == "edit" %} Update {% else %} Create {% endif %}
        </button>
        <a href="{% url 'blog:post_list' %}">Go Back</a>
    </form>
{% endblock %}